<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/397ab0845f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/index" class="nav-brand text-dark">ATN Shop</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
               <div class="filter">
                   <a href="/index"><i class="fas fa-angle-double-left"></i> Back to shop</a>
               </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Add new toy</h2>
            </div>
            <form action="/api/toys" method="POST" id="add_toy">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="text" name="name" value="" placeholder="Mark Stoenis">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Price</label>
                        <input type="text" name="price" value="" placeholder="40$">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Quantity</label>
                        <input type="text" name="quantity" value="">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Description</label>
                        <input type="text" name="description" value=""  style="height: 100px">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>
</body>
</html>