<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secured</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">ATN Shop</a>
                </div>
            </div>
            <div>
                <a href="/logout/" id="logout">Logout</a>
            </div>
        </nav>
    </header>
    <div id="introduction">
        <% if(user) { %>
            <h1 class="name"> Hello 
                <%= user.nickname.charAt(0).toUpperCase() +user.nickname.slice(1) %>
            </h1>
            <% } %>
            <a href="index" style="font-size: 30px;">Go to ATN page</a>
    </div>
</body>
</html>